h1, h2, h3, h4, h5, h6, hr, p, td, th, ul {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  color: @color-link;
}

body {
  padding-top: @header-height;
  color: @color;
}

* {
  box-sizing: border-box;
}

@bread-height: 48px;

@aside-left: 320px;
.c-sidebar-left {
  .w(@aside-left);
  box-sizing: border-box;
  padding: 10px;
  .pf;
  left: 0;
  top: @header-height + @bread-height;
  bottom: 0;
  background-color: @bg-light;
  border-right: 1px solid #eee;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track, &::-webkit-scrollbar-track-piece {
    background-color: #fafafa;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-button, &::-webkit-scrollbar-corner, &::-webkit-resizer {
    display: none;
  }
}

@search-bar-height: 60px;
.c-search-bar {
  .pf;
  .lt(@aside-left, @header-height+@bread-height);
  .db;
  height: @search-bar-height;
  width: calc(100% - @aside-left - @aside-right);
  .mr(@aside-right);
  .z(400);
  background-color: #FDFDFD;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.c-main {
  display: block;
  .mt(@bread-height + @search-bar-height);
  .mr(@aside-right);
  .ml(@aside-left);
  .pr;
  padding: 5px 10px 0;
  min-height: calc(100vh - @header-height - @bread-height - @search-bar-height);
  border-right: 1px solid #eee;
}

@aside-right: 280px;
.c-sidebar-right {
  .pf;
  right: 0;
  top: @header-height + @bread-height;
  bottom: 0;
  .w(@aside-right);
  background-color: #fff;
}

@light-blue: #409EFF;